
body
{	
    position:static;
  
	width: 1020px;
    margin: 10;
	padding: 10;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 14px;
    text-align: justify;
	background: url(Carpet.png) repeat;
}
#outcontainer
{
	margin: 1em auto;
	width: 1000px;
	background: #fff;
    border: 3px solid #000;
}
#outcontainerb
{
	float: left;
    margin: auto auto;
   
	width: 1000px;
	background: #fff;
    border: 3px solid #000;
}

#list
{
    float: right;
	margin: 1em auto;
	width: 800px;
	background: #000;
    z-index:5;
    
}

#navcontainer
{
	position: fixed;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    text-align: left;
    top: 135px;
	margin: 4em auto;
	width: 130px;
	height: 250px;
	line-height: 120%;
	background: #e2fce0;
    border-left: 3px solid #fff;

}

#navlist
{
display: inline;
text-align: left;
padding-right: 20px;
line-height: 120%;
}

#storycontainer
{
	float: right;
	margin: 1em auto;
	width: 820px;
	background: #fff;
	padding-right: 30px;
    padding-left: 5px;
}

#tablelist
{
float: center;
font-weight: bold;
text-align: left;
}

#header { background: #fff; padding-left: 65px;}

#outheader { background: #fff; padding-left: 65px;}


#title
{
	float: center;
	width: 800px;
	text-align: center;
	background: #fff;
}

#contents
	{
	position: relative;
    	float: center;
	width: 500px;
	background: #FFF;
	padding-right: 50px;
    margin: 0 20 0 0px;
}

#stars
	{
	 float: bottom;
	float: right;
	bottom: 90px;
	width: 550px;
	text-align: middle;
    font-color: green;
    clear: both;
	background: #FFF;
    margin: 0 0 0 10px;
}

#backurl
	{
	 float: bottom;
	float: left;
	bottom: 80px;
	width: 550px;
	text-align: middle;
    font-color: green;
    clear: both;
	background: #FFF;
    padding-left: 20px;
}

#vis1
{    visibility: visible;}
#vis2
{    visibility: hidden;}

#date
{ 
    
	float: right;
	bottom: 90px;
	width: 95%;
	text-align: center; 
    
	}


#author
	{
	float: bottom;
    float: right;
	bottom: 150px;
	width: 350px;
	text-align: left;
    padding-right: 80px;
    clear: both;
	background: #FFF;
    margin: auto auto ;
}

#footer
{
	clear: both;
	background: #FFF;
    margin: 0 0 0 500px;
   
}


a:link {color:green; text-decoration:none}
a:hover {color:red; text-decoration:none}
a:visited {color:#006633; text-decoration:none}
a:active {color: red; text-decoration:none}
ul{list-style:url(pixelshim.gif) outside}

p {text-align:justify}
p.cap {font-family: "Verdana"}

p.in {text-align:justify; padding-right:50px; padding-left:50px}
p.inn {text-align:justify; padding-right:80px; padding-left:80px}
p.mid {text-align:center;}
p.star {color:green;}
i {font-family: Garamond, "Times New Roman", serif; font-size: 120%;}
i.s {font-family: Garamond, "Times New Roman", serif; font-size: 100%;}
h3.star {color:green}
h3.mid {text-align:center; font-family: Garamond, "Times New Roman", serif;}
h4.mid {text-align:center; line-height: 1em;}

div.in {text-align:justify; text-indent: 2em}
div.bg {text-indent: 4em}
div.ex {text-indent: 6em}
div.gr {text-indent:8em}
div.hg {text-indent:20em}
div.ini {text-align:justify; text-indent: 2em; font-style: italic}

div.w {padding:200em}
span.in{ text-align:justify; text-indent: 4pt}
table.s {font-size: 9pt}
table.sb {align: left; font-family: "Verdana"; font-size: 9pt; font-weight: bold;}
table.t {font-size: 10pt}
table.b {font-family: "Verdana"; font-size: 10pt; font: bold;}

td.cap {font-family: "Verdana, Arial, sans-serif"; font-size: 10pt}
tr.sb {font-family: "Verdana, Arial, sans-serif"; font-size: 8pt; font-weight: bold;}

li {text-align:left;}
li.lit {font-family: "Verdana"; font-size: 10pt; line-height: 300%;}

img.imagefloat {
	

	border: 0;
	margin: 0 0 10px 0px;
}